@import 'meyer-reset.css';
@import 'setup.css';

html {
	background-color: magenta;
}

/* STRUCTURE */
inner-column {
	display: block;
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}


/* MODULE */
masthead {
	display: flex;
	flex-direction: row;
	align-items: center;
}

masthead .company-logo {
	width: 40px;
	margin-right: 12px;
}

masthead .company-name {
	font-family: Monospace;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.splash inner-column {
	padding-top: 20px;
	padding-bottom: 20px;
}

.splash h1 {
	font-family: Helvetica;
	font-size: 30px;
	padding: 20px 0;
}

.splash .cloud {
	display: none;
}

/* BREAK POINTS */
@media (min-width: 600px) {
	.splash inner-column {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 60px;
	}

	.splash picture {
		margin-right: 20px;
		flex-basis: 50%;
	}

	.splash .info {
		flex-basis: 50%;
	}
}

@media (min-width: 900px) {
	.splash {
		overflow: hidden;
	}

	.splash inner-column {
		align-items: flex-start;
		position: relative;
	}

	.splash picture {
		margin-right: 20px;
		flex-basis: 40%;
	}

	.splash .info {
		flex-basis: 55%;
		max-width: 60ch;
	}

	.splash h1 {
		font-size: 30px;
	}

	.splash .cloud {
		display: block;
		width: 300px;
		position: absolute;
		left: 80%;
		bottom: -160px;
		opacity: .2;
	}
}

/* THEME */
.site-header {
	background-color: rgba(255,255,255,.5);
}

section.plans {
	background-color: rgba(255,255,255,.5);
}

.site-footer {
	background-color: rgba(0,0,0,.5);
	color: white;
}