@import 'meyer-reset.css';
@import 'setup.css';

/* STRUCTURE */
html {
	background-color: white;
}

inner-column {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;

}

/* BACKGROUND COLORS */
.site-header {
	background-color: #add9be;
}

.diptych {
	background-color: #acddec;
}

/* Strange, I have to specify 2 and 4
in the nth-of-type to select the classes with CSS--why?
There are only two classes present. And they override
each other too. */
.action-area:nth-of-type(4) {
	background-color: #ff919a;
}

.action-area:nth-of-type(2) {
	background-color: #dc9dc8;
}

.article-grid {
	background-color: #fccc99;
}

.action-area:nth-of-type(4) {
	background-color: #dc9dc8;
}

footer {
	background-color: #fbf0e3;
}


/* TYPOGRAPHY */
.diptych h1 {
	font-size: 2em;
	font-weight: 900;
}

.diptych p {
	line-height: 1.2em;
	max-width: 50;
}

call-to-action h2 {
	font-size: 2em;
	font-weight: 900;
	margin-bottom: 40px;
}

call-to-action p {
	line-height: 1.2em;
	margin-bottom: 10px;
}

call-to-action a {
	display: inline;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	background-color: black;
	padding: 10px;
}

.article-grid h2 {
	font-size: 1.8em;
	font-weight: 900;
	margin-bottom: 10px;
}

article-card h3 {
	font-size: 1.8em;
	font-weight: 900;
	margin-bottom: 10px;
}

article-card p {
	line-height: 1.2em;
	margin-bottom: 10px;
}

footer h2 {
	font-size: 1.8em;
	font-weight: 900;
	margin-bottom: 10px;
}


footer nav a {
	color: blue;
}

article-card a {
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	background-color: black;
	padding: 10px;
}

/* MASTHEAD */
header inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

masthead {
	display: block;
	padding: 10px;
}

masthead nav {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

masthead a {
	padding: 10px;
	color: blue;
}

@media (min-width: 600px) {
	masthead {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

/* DIPTYCH  */
.diptych {
	padding: 40px 10px;
}

.diptych inner-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.diptych picture {
	max-width: 600px;
}

.diptych-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (min-width: 600px) {
	.diptych inner-column {
		display: flex;
		flex-direction: row-reverse;
	}

	.diptych-text {
		display: flex;
		justify-content: center;
		max-width: 50%;
	}

	.diptych picture {
	max-width: 50%;
	}
}

/* CALL TO ACTION */
.action-area {
	padding: 40px 10px;
}

.action-area inner-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

@media (min-width: 550px) {
	.action-area inner-column {
		padding: 50px;
	}
}

@media (min-width: 800px) {
	.action-area inner-column {
		padding: 100px;
	}
}

/* ARTICLE GRID */
.article-grid {
	padding: 40px 10px;
}

.article-grid inner-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.article-grid header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.article-grid header h2, h3, p, a {
	/*display: inline-block;*/
	padding: 10px 0px;
}

article-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 10px;
}

@media (min-width: 550px) {
	article-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
}

@media (min-width: 800px) {
	article-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* FOOTER */
footer {
	padding: 40px 10px;
}

footer inner-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

footer heading {
	margin-bottom: 20px;
}

.nav-area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

.nav-box {
	display: flex;
	flex-direction: column;
}

/*STICKY FOOTER */
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}