@import 'meyer-reset.css';
@import 'setup.css';

* {
	border: 3px solid red;
}

html {
	background-color: black;
}

/* SITE STRUCTURE */
body {
	display: flex;
	flex-direction: column;
	border: 3px solid red;
}

.inner-column {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border: 3px solid red;
}

/* SITE SECTIONS */
.site-header {
	background-color: lightgray;
	position: sticky;
	top: 0px;
	box-shadow:  0px 2px 5px 0px;
}

.site-header .inner-column {
	flex-direction: row;
}

.page-header {
	background-color: white;
}

.content-list {
	margin-top: 10px;
	margin-botom: 10px;
	background-color: lightgray;
}

.article-card {
	padding: 10px;

}

.site-footer {
	background-color: gray;
}

/* IMAGES */
.site-header img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.article-card img {
	border: 1px solid black;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-bottom: 5px;
}


/* BREAK POINTS (add another) */
@media (min-width: 550px) {
	.inner-column {
		max-width: 80vw;
		flex-direction: row;
	}

	.page-header img {
		float: left;
		max-width: 30vw;
		border: 1px solid;
	}
}

/* TYPOGRAPHY */
h1 {
  font-family: Monospace;
  font-weight: 900;
}

h2 {
  font-family: Monospace;
  font-size: 1.5em;
}

h2 + p, a {
  margin-top: 5px;
}

p {
  font-family: Helvetica;
  font-size: 1em;
  line-height: 1.2;
}

a {
	font-family: Helvetica;
}